# Core
streamlit==1.50.0
python-dotenv==1.0.0
google-generativeai>=0.3.2

# Data handling
numpy==1.26.4
pandas==2.2.1
openpyxl==3.1.3

# Charts & dashboards
plotly==5.18.0

# PDF/HTML Export
kaleido==1.2.0
reportlab==4.4.5

# Vector Database
qdrant-client==1.6.9

# Authentication
streamlit-authenticator==0.3.1
pyyaml==6.0.1




# Kill everything
#pkill -f streamlit

# Clean reinstall
#deactivate
#rm -rf venv
#python3 -m venv venv
#source venv/bin/activate

# Install in correct order
#pip install --upgrade pip
#pip install numpy==1.26.4
#pip install pandas==2.2.1
#pip install streamlit==1.33.0
#pip install openpyxl==3.1.3
#pip install plotly==5.18.0
#pip install ollama==0.2.0